.freqInput {
  width: 400px;
  height: 100px;
  padding: 0 25px;
  user-select: none;
  outline: none;
  position: relative;
  background: beige;
}

.freqInput.place:hover {
  cursor: none;
}
.freqInput.full:hover {
  cursor: default;
}
.freqInput.edit:hover {
  cursor: grab;
}

.freqInput:hover .line.selected {
  display: inline-block;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.freqInput + button {
  margin: 5px;
  margin-top: 30px;
}

.border {
  top: -1px;
  width: 400px;
  height: 100px;
  border: 1px solid black;
  position: absolute;
  pointer-events: none;
}
