.freqInput {
  width: 400px;
  height: 100px;
  padding: 10px 25px;
  user-select: none;
  outline: none;
  position: relative;
}
.border {
  width: 400px;
  height: 100px;
  border: 1px solid black;
  position: absolute;
  top: 8px;
  pointer-events: none;
}


.freqInput:hover {
  cursor: none;
}
.freqInput.full:hover {
  cursor: default;
}

.freqInput:hover .line.selected {
  display: inline-block;
}

section {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-end;
}

section .freqInput {
  margin-bottom: 20px;
}

.freqInput + button {
  margin: 5px;
}
