
.line {
  display: inline-block;
  width: 1px;
  border: 4px blue;
  margin: 0;
  background-color: black;
  height: 100px;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}

.selected {
  color: red;
  background-color: red;
  border-color: red;
}

.line label {
  margin: 5px;
  display: block;
  position: absolute;
  border-radius: 100%;
  font-family: monospace;
  text-align: center;
  padding: 2px;
  background-color: white;
}
.freq {
  top: -29px;
  left: -6px;
  transform: rotate(-25deg);
}

.keyboard {
  top: 100px;
  left: -10px;
  transform: rotate(0);
}
